<h2><%= @equipment.name %></h2>
<p><%= @equipment.description %></p>
<p><%= @equipment.price %></p>
<p><%= @equipment.user[:email] %></p>

<!-- change this when you did couldinary in create <#% @article.photos.each do |photo| %>
  <#%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<#% end %>-->

<!-- add schedule from bookings -->
