.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  background: white;
}

.alert-info {
  border: 2px solid #3f72af;
  color: #112d4e;
}

.alert-warning {
  border: 2px solid #ffaa71;
  color: grey;
}

.alert-danger {
  border: 2px solid #ff5252;
}
